html{
    height: 100%;
}

body{
    background-color: rgb(32, 32, 32);
    margin: 0px;
    display: grid;
    min-height: 100vh;
    grid-template-areas:
        "aside header header"
        "aside main main"
        "aside footer footer";
    grid-template-columns: 50px auto auto;
    grid-template-rows: 50px auto 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
}

header{
    grid-area: header;
    display: flex;
    align-items: center;
}
main{
    background-color: rgb(32,32,32);
    grid-area: main;
    position: relative; 
}
aside{ 
    background-color: #050505;
    grid-area: aside;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 15px 0;
    align-items: center;
}
footer{
    grid-area: footer;
    position: relative;
    bottom: 0;
}


.primeros{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.catalogoPath,
.watchlistPath,
.user,
.extras,
.indexPath{
    cursor: pointer;
    height: 30px;
    width: 26px;
}

.aqui{
    fill: gold;
}

.ultimos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    margin-left: 5px;
    z-index: 100;
    display: none;
  }
  
  .burger input {
    display: none;
  }
  
  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #dddddd;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }
  
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

@media (max-width: 809px) {
    aside{
        background-color: rgb(32, 32, 32);
    }
    body{
        grid-template-columns: 0px auto auto;
        grid-template-areas:
        "aside header header"
        "aside main main"
        "aside footer footer";
    }

    .primeros, .ultimos{
        display: none;
    }
    .burger{
        display: block;
    }
}

.catalogueList{
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0);
    width: 96%;
    height: 96%;
    padding: 30px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

span{
    color: white;
    font-size: 30px;
}
.moviesWatchlist{
    width: 90%;
    max-width: 800px;
}
.cont{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
    gap: 12px;
    border-bottom: 2px solid #ffffff;
}
.title{
    width: 90%;
    max-width: 800px;
    
    border-bottom: 2px solid #ffffff;
    & div {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
    }
}
.top{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
    margin-bottom: 12px;
}
.cont .data{
    display: flex;
    flex-direction: column;
    height: 180px;
    width: calc(100% - 140px);
}

.titleMovie{
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
    & span {
        width: 100%;   
        font-size: 20px;
        text-overflow: ellipsis;
        overflow: hidden; 
        display: -webkit-box;
        display: -moz-box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-line-clamp: 1;
        -moz-line-clamp: 1; 
    }
}

.description {
    width: 100%;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3; 
}

.moviesWatchlist .cont img{
    width: 120px;
    aspect-ratio: 2/3;
    border-radius: 8px;
    background-color: #111;
}


.iconButton {
    width: 30px;
    height: 30px;
    margin: 5px 5px;
    background-color: #323232; /* Cambiar color de fondo del botón al hacer hover */
    color: #ffffff;
    padding: 5px;
    border: 2px solid #ffffff;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
}

.calif{
    font: inherit;
    width: 45px;
    gap: 3px;
    background-color: #323232; 
    color: #ffffff;
    padding: 5px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items:center;
    & span{
        font-size: 16px;
    }
}
.bot{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.botones{
    display:flex;
}

.carga{
    margin-top: 15px;
    width: 80%;
    max-width: 700px;
    height: 36px;
    background-color: #111;
    cursor: pointer;
    border-radius: 34px;
    border:2px solid #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    & span{
        font-weight: 100;
    }
}

.nomovies{
    margin-top: 20px;
    font-size: 16px;
}

.tmdb, .user-data, .confirm{
    display: none;
    position: fixed;
    padding: 20px 10px;
    width: 275px;
    color: #ffffff;
    bottom: 25px;
    left: 60px;
    background-color: rgb(32, 32, 32);
    border: 2px solid #ffffff;
    border-radius: 8px;
    font-size: 16px;
    z-index: 1000000;
}

.user-data{
    width: 220px;
    bottom: 58px;
}

.confirm{
    display: none;
    width: 220px;
    height: 95px;
    bottom: 58px;
    z-index: 100000000;
}
.select{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.si, .no{
    width: 30px;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 2px solid #ffffff;
    cursor: pointer;
    text-align: center;
}

.si:hover, .no:hover{
    background-color: rgb(20, 20, 20);
}

.deleteData{
    width: 125px;
    padding: 5px 10px;
    background-color: rgba(245, 55, 55, 0.774);
    border-radius: 8px;
    margin: 10px auto 0px auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-db{
    margin: 10px auto;
    width: 50px;
    aspect-ratio: 100/43;
}

.logo-jw{
    margin: 10px auto;
    width: 120px;
}

.logo-jw img{
    height: 18px;
}
